.aquaHeaderSection {
    position: relative;
    text-align: center;
    padding: 180px 60px 80px;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
}
.aquaHeaderSectionLeft {
    max-width: 60%; 
    text-align: left; 
}

.aquaHeaderSectionRight {
    display: flex;
    justify-content: flex-end; 
}
.aquaTitle {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}
.aquaDesc {
    font-size: 20px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 30px;
}

@media (max-width: 768px) {
  .aquaHeaderSection {
    padding: 120px 16px 80px;
  }
  .aquaTitle {
    font-size: 36px;
  }
  .aquaDesc {
    font-size: 16px;
  }
}  