.wrapper {
  padding: 60px 10px;
  max-width: 1660px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  text-transform: uppercase;
}

.text {
  color: rgb(255, 255, 255);
}

.infoBox {
  margin-top: 20px;
}

.infoText {
  color: rgb(255, 255, 255);
}
.infoText span {
  color: #ff3b3b;

  margin-right: 6px;
}
/* slider */
.sliders {
  background-color: rgb(214, 214, 214);
  margin: 0 auto;
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  padding: 20px 0;
  margin: 0 auto;
}
.slidersInfo {
  padding: 0 10px;
  max-width: 520px;
}
.slidersInfo > *:not(:first-child) {
  margin-top: 20px;
}
.slidersTitle {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(17, 17, 17);
}
.slidersItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 50px;
  }

  .text {
    font-size: 20px;
  }
  .infoText {
    font-size: 20px;
  }

  /*                slider   */

  .slider {
    padding: 60px 10px;
  }
  .slidersInfo {
    padding: 0 40px;
    max-width: 700px;
  }

  .slidersTitle {
    font-size: 28px;
    line-height: 35px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 60px 70px;
  }
  .text {
    font-size: 18px;
    line-height: 27px;
  }
  .infoText {
    font-size: 20px;
  }

  /*                slider   */

  .sliders {
    padding: 70px 50px;
  }
  .slidersItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }

  .slidersItems:nth-of-type(2) .slider {
    order: 2;
  }

  .slidersItems:nth-of-type(2) .slidersInfo {
    order: 1;
  }

  .slidersItems:first-child {
    margin-bottom: 40px;
  }
  .slider {
    padding: 0;
    margin: 0;
  }
  .slidersInfo {
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    padding: 60px 150px;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 110px;
  }
  .textWrapper {
    max-width: 730px;
    align-items: flex-start;
  }

  .title {
    margin: 0 0 16px 0;
    font-size: 50px;
    line-height: 70px;
    font-weight: 800;
    letter-spacing: 0.5px;
  }

  .infoText {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: 700;
  }

  .infoText span {
    color: #ff3b3b;
    font-weight: 700;
    margin-right: 6px;
  }
  .sliders {
    padding: 70px 0;
  }

  .slidersInfo {
    max-width: 600px;
  }
}
