  .wrapper{
 padding: 40px 125px;
  }
  
  .container {
  display: flex;
  gap: 100px;
  align-items: flex-start;
}
.title{
    margin:0;
    font-size:50px ;
    padding-top:100px;
    text-transform: uppercase;
}
.title::after{
      content: "↘";
  margin-left: 10px;
  font-size: 70px;
}

/* Ліва колонка з накладеними зображеннями */
.imageWrapper {
  position: relative;
  flex: 1;
  overflow: hidden;
  max-width: 400px;
  height: 450px;
  
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  transform: scale(1);
  transition: 
    opacity 0.6s ease-in-out,
    transform 0.6s ease-in-out;
}

.show {
  opacity: 1;
  transform: scale(1.03);
}

/* Права колонка зі списком */
.listWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* gap: 1.2rem; */
}

.item {
  padding: 1rem;
  /* border-radius: 6px; */
  /* background-color: #f8f8f8; */
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
}

.item:hover {
  background-color: rgb(34, 36, 49);
}
.item:hover .text {
 color:white
}

.active {
  background-color:rgb(34, 36, 49);
}
.active .text {
 color: white;
 opacity: 1;
}
.itemTitle {
    width: 590px;
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
}

.text {
  
  margin: 0;
  font-size: 0.9rem;
  opacity: 0;
  line-height: 1.4;
}

/* Адаптивність для вузьких екранів */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .imageWrapper {
    padding-top: 50%; /* підлаштуйте під мобільний вигляд */
  }
}